.flexbox-container-1,
.flexbox-container-2 .flex-box-rps .flex-box-pick-color {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.flexbox-container-1 div {
    padding: 3px;
    align-items: center;
}

.container-1,
.container-2,
.container-3 ,.container-4{
    border: black 1px solid;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.flexbox-container-2 img {
    margin: 10px;
    justify-content: space-around;

}

.flex-box-rps img:hover {
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}